import(ggplot2)
import(dplyr)
import(jmvcore)
importFrom(R6, R6Class)
importFrom(janitor, clean_names, tabyl, adorn_totals, adorn_percentages)
importFrom(stringr, str_to_title, str_trim, str_squish, str_to_lower)
importFrom(scales, percent, comma, breaks_pretty)
importFrom(tidyr, pivot_wider, pivot_longer, complete)
importFrom(purrr, map_dfr, map)
importFrom(epitools, riskratio, oddsratio)
importFrom(epiR, epi.conf, epi.2by2)
importFrom(stringi, stri_trans_tolower, stri_trans_general, stri_trans_totitle)
export(obtclean)
export(obtdescriptive)
export(obtepicurve)
export(obtcohort)
export(obtcasecontrol)
export(obtstratified)
export(obtlogistic)
export(obtsamplesize)
